python3.7 -m pip install opencv-python==4.2.0.32 
python3.7 -m pip install opencv-contrib-python 
python3.7 -m pip install python-socketio 
python3.7 -m pip install eventlet 
python3.7 -m pip install pillow 
python3.7 -m pip install flask 
python3.7 -m pip install numpy 
